.window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: arial, sans;
  text-align: center;
  color: white;
  background: #222;
  overflow: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sr-form > * {
  display: block;
  margin: 0 auto 5px auto;
}

.sr-form input[type='text'] {
  text-align: center;
}

.post {
  margin: 5px auto 15px auto;
}

.post img,
.post video {
  max-width: 99%;
  max-height: 95vh;
}

.image-post img {
  cursor: col-resize;
}

.video-post video {
  cursor: row-resize;
}

.help,
.message {
  font-size: 0.8em;
}

.loading-post {
  padding: 50px 0 50px 0;
}

.self-post {
  width: 750px;
  max-width: 80%;
  text-align: left;
  background-color: #484848;
  border-radius: 5px;
  word-wrap: break-word;
  margin: auto;
}

.self-post-username {
  font-weight: bold;
  position: relative;
  top: 8px;
  left: 13px;
}

.title {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
}

.title a {
  color: inherit;
}

.embed {
  height: 90vh;
  width: 90%;
}

.self-post-content {
  padding: 20px 30px 30px 30px;
}

.center {
  text-align: center;
}

.video {
  opacity: 0.25;
}

.video:hover {
  opacity: 1;
  z-index: 50;
}

.info {
  margin-bottom: 5px;
}

.info > span {
  font-weight: bold;
}

.score {
  color: rgb(255, 181, 45);
}

.num-comments {
  color: rgb(0, 167, 228);
}

.sub-name a {
  color: #ff5b5b;
}

.load-embed {
  padding: 10px 15px;
  margin: 7px 0;
}

/* UTIL */

.hidden {
  display: none;
}

.noscroll {
  overflow: hidden;
  /* width of the scroll bar */
  padding-right: 20px;
}

.dib {
  display: inline-block;
}

.big-text {
  font-size: large;
}

/* COMMENTS MODAL */

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  text-align: initial;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 90%;
  max-width: 1200px;
  max-height: 90vh;
  background: #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 5px 10px;
  box-shadow: 0 3px 7px -5px rgba(0, 0, 0, 0.9);
}

.modal-body {
  flex: 1 auto;
  overflow: auto;
  max-height: 80vh;
  padding: 15px;
}

.modal-close {
  transition: transform 200ms;
  cursor: pointer;
  font-size: 150%;
  line-height: 0;
  font-weight: bold;
}

.modal-header-content {
  flex: 1 auto;
}

.modal-close:hover {
  transform: scale(1.3, 1.3);
}

.post-comment {
  padding: 0 0 0 17px;
  border-left: 3px solid #555;
}

.post-comment-author {
  color: #ddd;
}

.post-comment-op {
  color: #afafff;
}

.post-comment-admin {
  color: red;
}

.post-comment-mod {
  color: #34ce34;
}

.post-comment-special:after {
  font-family: monospace;
  position: relative;
  top: -1px;
  margin-left: 3px;
  color: #ddd;
}

.post-comment-op:after {
  content: '[OP]';
}

.post-comment-mod:after {
  content: '[MOD]';
}

.post-comment-admin:after {
  content: '[ADMIN]';
}

/* don't add bottom padding on last child since parent already has it */
.post-comment:not(:last-child) {
  margin-bottom: 20px;
}

.post-comments .post img,
.post-comments .post video {
  max-height: 50vh;
}

.post-comment-info {
  font-size: 90%;
  color: #adadad;
  margin-bottom: 5px;
}

.post-comment-text {
  word-break: break-word;
}

.post-comment-text a,
.self-post-content a,
.link {
  color: #ffc9c9;
}

.post-comment-collapse {
  font-family: monospace;
  cursor: pointer;
  user-select: none;
}

.btn-load-more-comments {
  margin-top: 5px;
  display: inline-block;
}

.post-comment blockquote {
  padding-left: 8px;
  border-left: 4px solid #a2a2a2;
  margin: 4px 0px 4px 8px;
}

.post-comment blockquote:last-child {
  margin-bottom: 0;
}

.post-comment-refresh {
  background: #ddd;
  border-radius: 15px;
  height: 16px;
  width: 25px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  transition: transform 1.5s;
  user-select: none;
}

.post-comment-refresh:hover {
  transform: scale(1.5) rotate(360deg);
}

.score-hidden {
  color: #fff;
}

/* scrollbar styles */
@media only screen and (min-device-width: 900px) {
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background: #444;
    border-bottom-right-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
  }
}

/* Post Comment Goodness Indicators  */

.kinda-good {
  color: #ffce0a;
}

.real-good {
  color: orange;
}

.super-good {
  color: #ff7a00;
}

.bad {
  color: rgb(0, 181, 247);
}

.real-bad {
  color: rgb(62, 127, 255);
}

.super-bad {
  color: rgb(98, 103, 241);
}

/*  theme changer */
.theme-changer {
  position: fixed;
  top: 5px;
  right: 25px;
  cursor: pointer;
  user-select: none;
  z-index: 100;
}

.show-on-hover {
  opacity: 0;
  transition: opacity 500ms;
}

.show-on-hover:hover {
  opacity: 1;
}
