body {
  font-family: arial, sans;
  text-align: center;
  color: white;
  background: #222;
}

.sr-form > * {
  display: block;
  margin: 0 auto 5px auto;
}

.sr-form input[type=text] {
  text-align: center;
}

.post-list > div {
  margin: 5px auto 15px auto;
}

.post-list img,
.post-list video {
  max-width: 99%;
  max-height: 95vh;
}

.image-post img {
  cursor: col-resize;
}

.video-post video {
  cursor: row-resize;
}

.help, .message {
  font-size: .8em;
}

.loading-post {
  padding: 50px 0 50px 0;
}

.self-post {
  width: 750px;
  max-width: 80%;
  text-align: left;
  color: black;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.75);
  word-wrap: break-word;
  margin: auto;
}

.self-post > .username {
  font-weight: bold;
  position: relative;
  top: 8px;
  left: 13px;
}

.title {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
}

.title a {
  text-decoration: none;
  color: inherit;
}

.title a:hover {
  text-decoration: underline;
}

.embed {
  height: 90vh;
  width: 90%;
}

.post-list .content {
  padding: 20px 30px 30px 30px;
}

.center {
  text-align: center;
}

.video {
  opacity: 0.25;
}

.video:hover {
  opacity: 1;
  z-index: 100;
}

.info {
  margin-bottom: 5px;
}

.info > span {
  font-weight: bold;
}

.score {
  color: rgb(255, 181, 45);
}

.num-comments {
  color: rgb(0, 167, 228);
}

.load-embed {
  padding: 10px 15px;
  margin: 7px 0;
}

.hidden {
  display: none;
}