.window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: arial, sans;
  text-align: center;
  color: white;
  background: #222;
  overflow: auto;
}

.sr-form > * {
  display: block;
  margin: 0 auto 5px auto;
}

.sr-form input[type=text] {
  text-align: center;
}

.post-list > div {
  margin: 5px auto 15px auto;
}

.post-list img,
.post-list video {
  max-width: 99%;
  max-height: 95vh;
}

.image-post img {
  cursor: col-resize;
}

.video-post video {
  cursor: row-resize;
}

.help, .message {
  font-size: .8em;
}

.loading-post {
  padding: 50px 0 50px 0;
}

.self-post {
  width: 750px;
  max-width: 80%;
  text-align: left;
  color: black;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.75);
  word-wrap: break-word;
  margin: auto;
}

.self-post > .username {
  font-weight: bold;
  position: relative;
  top: 8px;
  left: 13px;
}

.title {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
}

.title a {
  text-decoration: none;
  color: inherit;
}

.title a:hover {
  text-decoration: underline;
}

.embed {
  height: 90vh;
  width: 90%;
}

.post-list .content {
  padding: 20px 30px 30px 30px;
}

.center {
  text-align: center;
}

.video {
  opacity: 0.25;
}

.video:hover {
  opacity: 1;
  z-index: 100;
}

.info {
  margin-bottom: 5px;
}

.info > span {
  font-weight: bold;
}

.score {
  color: rgb(255, 181, 45);
}

.num-comments {
  color: rgb(0, 167, 228);
}

.sub-name a {
  color: #ff5b5b;
}

.load-embed {
  padding: 10px 15px;
  margin: 7px 0;
}

/* UTIL */

.hidden {
  display: none;
}

.noscroll {
  overflow: hidden;
}

.dib {
  display: inline-block;
}

.big-text {
  font-size: large;
}

/* COMMENTS MODAL */

.overlay {
  position: fixed;
  background: rgba(0,0,0,0.65);
  top: 0;
  bottom:  0;
  left: 0;
  right: 0;
  overflow: auto;
  text-align: initial;
  z-index: 1000;
}

.modal {
  max-width: 900px;
  max-height: 80vh;
  margin: auto;
  background: #333;
  margin-top: 10vh;
  border: 1px solid #999;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #999;
  padding: 15px;
}

.modal-body {
  flex: 1 auto;
  overflow: auto;
  max-height: 80vh;
  padding: 15px;
}

.modal-close {
  transition: transform 200ms;
  cursor: pointer;
  font-size: 150%;
  line-height: 0;
  font-weight: bold;
}

.modal-header-content {
  flex: 1 auto;
}

.modal-close:hover {
  transform: scale(1.3, 1.3);
}

.post-comment {
  padding: 4px 5px 1px 15px;
  border-left: 1px solid #555;
}

/* don't add bottom padding on last child since parent already has it */
.post-comment:not(:last-child) {
  padding-bottom: 12px;
}

/* don't show border on root level comments */
.post-comments-list > .post-comment {
  border-left: none;
}

.post-comment-info {
  font-size: 90%;
  color: #adadad;
  margin-bottom: 5px;
}

.modal a {
  color: #ffc9c9;
  text-decoration: none;
}

.modal a:hover {
  text-decoration: underline;
}

.post-comment-collapse {
  font-family: monospace;
  cursor: pointer;
  color: white;
}

.btn-load-more-comments {
  margin-top: 5px;
  display: inline-block;
}

.post-comment blockquote {
  padding-left: 8px;
  border-left: 4px solid rgba(0, 0, 0, 0.2);
  margin: 4px 0px 4px 8px;
}
